.col-md-6.offset-md-3.mt-5
  .row
    .col-md-7.bg-white.p-3
      .h5.fw-bolder ご注文商品の確認
      %p.text-danger.fw-bolder.small ※注文はまだ確定していません
      .mt-2
        %p.small.m-0 以下の商品の注文を行います。
        %p.small 表示されている商品が正しいかもう一度お確かめください。
      - total_price = 0
      - @cart_items.each do |cart_item|
        - total_price += cart_item.product.price_including_tax
        .row.border-bottom.mb-3
          .col-md-1.p-0
            = product_image_tag(cart_item.product, 100, 50)
          .col-md-11
            .d-flex.justify-content-between.fs-5
              .name= link_to cart_item.product.name, product_path(cart_item.product), class: 'text-decoration-none'
              .price
                = number_to_currency(cart_item.product.price_including_tax)
                %span.small （税込）

    .col-md-4.offset-md-1
      .card
        .card-body
          %h5.card-title ご請求額
          %table.table.table-striped
            %tbody
              %tr
                %th 小計
                %td.text-end= number_to_currency(total_price)
              %tr
                %th 代引き手数料
                - cash_on_delivery = Order.taxed_cash_on_delivery(total_price)
                %td.text-end= number_to_currency(cash_on_delivery)
              %tr
                %th 送料
                - shipping_fee = Order.taxed_shipping_fee(@cart_items.count)
                %td.text-end= number_to_currency(shipping_fee)
              %tr
                %th 合計
                - payment_amount = [total_price, cash_on_delivery, shipping_fee].sum
                %td.fw-bolder.fs-5.text-end= number_to_currency(payment_amount)
          %p.fw-bolder 支払方法：代引き決済
          = button_to '注文を確定する',
                      users_orders_path(product_ids: @cart_items.pluck(:product_id), total_price:, payment_amount:, cash_on_delivery:, shipping_fee:),
                      method: :post,
                      class: 'btn btn-success w-100'
