!!!
%html{ lang: 'ja' }
  %head
    %title さくらマーケット管理画面
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module'
  %body.base-color
    %nav.navbar.navbar-expand-lg.admin-main-color
      .container-fluid
        = link_to 'さくらマーケット管理画面', admins_root_path, class: 'navbar-brand text-white'
        %ul.navbar-nav
          %li.nav-item
          - if admin_signed_in?
            = button_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-accent'
    = render 'layouts/flashes'
    .container-fuild
      .row
        = yield
